.statisticsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 400px;
  background-color: rgb(215, 217, 218);
}
.insideBox {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.titleBox {
  display: flex;
  justify-content: center;
  background-color: white;
  color: gray;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: medium;
  text-transform: uppercase;
}
.statisticsBlocks {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0px;
}
.item {
  display: flex;
  flex-direction: column;
  /* color: white; */
  /* background-color: red; */
}
.aqua {
  background-color: deepskyblue;
  color: antiquewhite;
}
.violet {
  background-color: blueviolet;
  color: antiquewhite;
}
.red {
  background-color: indianred;
  color: antiquewhite;
}
.lazur {
  background-color: cadetblue;
  color: antiquewhite;
}
