.transactionHistory {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 400px;
  margin: 0 auto;
}
thead {
  font-weight: normal;
  text-transform: uppercase;
  background-color: darkcyan;
  color: white;
  padding: 10px 15px;
}
td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr:nth-child(2n) {
  background: #e8edff;
}
table {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid grey;
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
